.Contact {
    width: 83%;
    min-height: 100%;
    margin: auto;
    margin-top: 15%;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.Contact {
    .contact-background {
        opacity: 0.5;
        width: 83%;
        height: 85%;
        border-radius: 3px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -0;
    }

    h2 {
        letter-spacing: 3px;
        margin-bottom: 15px;
    }

    form {
        border: 1px solid white;
        border-radius: 6px;
        padding: 40px;

        .form-row, .form-group {
            padding: 5px;
        }

        label {
            letter-spacing: 3px;
        }

        input, textarea {
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            padding: 8px;
            font-size: 12px;
            color: white;
        }

        textarea {
            min-height:75px;
            vertical-align: text-top;
        }
        .btn {
            background-color: transparent;
            border: 1px solid white;
            display: inline-block;
            font-size: 14px;
            letter-spacing: 3px;
            margin-top: 20px;
            padding: 10px 20px;
        }
    }

    .info {
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            font-size: $ml-size;
        }
    }
}

@media only screen and (max-width: 1000px){
    .info {
        margin-top: 20px;
        margin-bottom: 30px;

        .vcenter {
            display: inline-block;
            vertical-align: middle;
            font-size: $s-size;
        }
    }

}

