.Homepage {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 350px;
    min-height: 500px;
    z-index: 1;
    opacity: 1;
}

.Homepage-intro {
    font-size: $m-size;
    height: auto;
    text-align: center;
    width: 100%;
}

.vertical-center {
    align-items: center;
    display: flex;
    min-height: 100%;
    min-height: 100vh;
    z-index: 2;
  }

.background {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 600px;
    width: 100vw;
    background-size: cover;
    opacity: 0.5;
    z-index: -20;
}

.homepage-row {
    width: 100%;
}

.title-homepage {
    width: 100%;
    font-family: 'Abril Fatface', cursive;   
    font-size: $xl-size;
}

.description-homepage {
    width: 100%;
    margin: 20px;
}

.col {
    display: inline;
}

.btn-homepage{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    font-size: $m-size;
    letter-spacing: 4px;
    margin: 10px; 
    padding: 13px 20px;

    .link {
        color: white;
    }
}

.btn-homepage:hover{
    background-color: white;
    color: black; 
    text-decoration: none;

    .link {
        color: black;
    }
}

/* For mobile phones: */
@media only screen and (max-width: 450px) , (max-height: 700px){
    .title-homepage {
        font-family: 'Abril Fatface', cursive;   
        font-size: $l-size;
    }

    .Homepage-intro {
        height: auto;
        width: 100%;
        z-index: 1;
        opacity: 1;
    }
}

@media only screen and (max-width: 375px){
    .title-homepage {
        font-family: 'Abril Fatface', cursive;   
        font-size: $m-size;
    }

    .Homepage-intro {
        height: auto;
        width: 100%;
        z-index: 1;
        opacity: 1;
    }
}