//Colors:
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$light-grey: #f7f7f7;
$light-dark-grey: #1f1f1f;

// Font Sizes:
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing:
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 4.2rem;
$xl-size: 5.8rem;
$desktop-breakpoint: 45rem;